/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background-color: #f2f2f2; */
}

.container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 2rem;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-left: 5rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 30px;
}

.navbar a:hover {
  color: #646cff;
}

/* BooksPage styles */
.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.book-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* BookDetailsPage styles */
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.details-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  float: left;
  margin-right: 20px;
}

.details-content {
  flex: 1;
}


.book.book.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.details p {
  font-size: 20px;
  margin-right: 440px;
}

.book-description {
  margin-top: 1rem;
  font-style: italic;
  font-size: larger;
}

/* QuotesPage styles */
.quotes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.quote-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.quote-text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.quote-author {
  font-size: 14px;
  font-style: italic;
  color: #666;
}
